/* TODO(you): Write the CSS to finish the assignment! */
body{
    font-family: 'Proxima Nova', 'Helvetica','Arial', sans-serif;
    width: 700px;
    margin: 0 auto;
}
header{
    max-width: 100%;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #ccc;
}
#course-name strong{
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    color: #ee3322;
    align-self: start;
}
    
.stack-circle{
    display: flex;
    Justify-content: space-around;
    align-items: flex-end;
}
.stack-circle strong{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffee00;
    transform: rotate(-30deg);
    color: #222222;
    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
}

#quiz-name{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 425px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quiz-name h1{
    font-family: 'Pangolin', 'Trebuchet MS', cursive;
    font-size: 60px;
    max-width: 75%;
    color: black;
    text-align: center;
    background-color: white;
    padding: 10px;
}
#author{
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-top: 18px;
}
#box{
    background-color: #f1f1f1;
    display: block;
    align-items: center;
    justify-content: center;
}
#box-start {
    text-align: center;
    height: 100px;
    width: 700px;
}
#box-start h1{
    padding: 18px;
    margin: 0;
}
#box-start p{
    margin: 0;
    padding-bottom: 18px;
}
#btn-start{
    display: flex;
    justify-content: center;
}
#btn-start button{
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px;
    background-color: rgb(60, 60, 212);
    color: white;
}
#attempt-quiz{
    width: 700px;
}
.question-text{
    margin: 0;
}
.answer{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.answer label{
    background-color: #f1f1f1;
    margin: 0;
    padding: 15px;
    border: white solid 1px;
    display: block;
}
.answer input{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    width: 17px;
}
br{
    display: none;
}
.answer label:hover{
    background-color: #ddd;
}
.answer input:checked + label{
    background-color: #ddd;
}
#btn-submit{
    text-align: center;
    background-color: #ddd;
}
#btn-submit button{
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px;
    background-color:green;
    color: white;
}